/* ryder keyboard - jQuery UI Widget */

.ui-keyboard {
    padding: .3em;
    //border: 1px solid blue;
    text-align: center;
    /* see issue #484 */
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.ui-keyboard div {
    text-align: right;
}

.ui-keyboard-button {
    height: 69px;
    width: 69px;
    min-width: 2em;
    margin: 9px;
    cursor: pointer;
    overflow: hidden;
    line-height: 2em;
    background-color: #555555;
    color: #ffffff;
    -moz-user-focus: ignore;
    text-transform: uppercase;
    border: 0px;
    font-size: 28px;

    span {
        font-size: large;
    }

    @include fade(background-color);
    &.ui-state-hover {
        background-color: #000000;
    }
}

// special btn
.ui-keyboard-button {
    &.ui-keyboard-bksp span {
        font-size: small;
    }

    &.ui-keyboard-accept, &.ui-keyboard-normal, &.ui-keyboard-meta1, &.ui-keyboard-meta2 {
        width: 100px;
    }

    &.ui-keyboard-accept {
        &.ui-keyboard-valid-input {
            background-color: #aaaaaa;
            color: #333333;
            &.ui-state-hover {
                background-color: #000000;
                color: #ffffff;
            }
        }

        &.ui-keyboard-invalid-input {
            background-color: #aaaaaa;
            color: #333333;
            opacity: 0.5;
            filter: alpha(opacity=50);

            &.ui-state-hover {
                background-color: #aaaaaa;
                color: #333333;
                opacity: 0.5;
                filter: alpha(opacity=50);
            }
        }
    }

    &.ui-keyboard-space {
        width: 560px;
    }
}
