html {
  height: 100%;
}
body {
  min-height: 100%;
}
#templates {
  opacity: 0; }

#page-container {
  top: 96px;/*60px;*/
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 600px;
  display: block;
  position: relative; }

#page {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#transition {
  position: absolute;
  top: 117px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#popup {
  width: 100%;
}
