@mixin fade($prop){
  transition: 	$prop $time ease-in-out;
  -moz-transition: 	$prop $time ease-in-out;
  -webkit-transition: $prop $time ease-in-out;
}

@mixin touchClick($prop, $base, $active) {
  @-webkit-keyframes starthover {
    0%   { $prop: $base; }
    25%  { $prop: $active; }
    100% { $prop: $base; }
  }

  @keyframes starthover {
    0%   { $prop: $base; }
    25%  { $prop: $active; }
    100% { $prop: $base; }
  }
}
