@import url(reset.css);
@import url(app.css);
@font-face {
  font-family: 'HelveticaNeue LT 47 LightCn';
  src: url("./../assets/fonts/HelveticaNeueLT-LightCond.eot");
  src: url("./../assets/fonts/HelveticaNeueLT-LightCond.eot?#iefix") format("embedded-opentype"), url("./../assets/fonts/HelveticaNeueLT-LightCond.woff") format("woff"), url("./../assets/fonts/HelveticaNeueLT-LightCond.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue LT 107 XBlkCn';
  src: url("./../assets/fonts/HelveticaNeueLT-ExtBlackCond.eot");
  src: url("./../assets/fonts/HelveticaNeueLT-ExtBlackCond.eot?#iefix") format("embedded-opentype"), url("./../assets/fonts/HelveticaNeueLT-ExtBlackCond.woff") format("woff"), url("./../assets/fonts/HelveticaNeueLT-ExtBlackCond.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue LT 67 MdCn';
  src: url("./../assets/fonts/HelveticaNeueLT-MediumCond.eot");
  src: url("./../assets/fonts/HelveticaNeueLT-MediumCond.eot?#iefix") format("embedded-opentype"), url("./../assets/fonts/HelveticaNeueLT-MediumCond.woff") format("woff"), url("./../assets/fonts/HelveticaNeueLT-MediumCond.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue LT 107 XBlkCn';
  src: url("./../assets/fonts/HelveticaNeueLT-ExtBlackCondObl.eot");
  src: url("./../assets/fonts/HelveticaNeueLT-ExtBlackCondObl.eot?#iefix") format("embedded-opentype"), url("./../assets/fonts/HelveticaNeueLT-ExtBlackCondObl.woff") format("woff"), url("./../assets/fonts/HelveticaNeueLT-ExtBlackCondObl.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'HelveticaNeue LT 45';
  src: url("./../assets/fonts/HelveticaNeueLT-Light.eot");
  src: url("./../assets/fonts/HelveticaNeueLT-Light.eot?#iefix") format("embedded-opentype"), url("./../assets/fonts/HelveticaNeueLT-Light.woff") format("woff"), url("./../assets/fonts/HelveticaNeueLT-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LT 47 Light Condensed_0';
  src: url("./../assets/fonts/Helvetica LT 47 Light Condensed_0.eot");
  src: url("./../assets/fonts/Helvetica LT 47 Light Condensed_0.woff2") format("woff2"), url("./../assets/fonts/Helvetica LT 47 Light Condensed_0.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueLT-LightCond';
  src: url("./../assets/fonts/HelveticaNeueLT-LightCond.woff") format("woff"), url("./../assets/fonts/HelveticaNeueLT-LightCond.ttf") format("truetype"), url("./../assets/fonts/HelveticaNeueLT-LightCond.svg#HelveticaNeueLT-LightCond") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LT 107 Extra Black Condensed_0';
  src: url("./../assets/fonts/Helvetica LT 107 Extra Black Condensed_0.eot");
  src: url("./../assets/fonts/Helvetica LT 107 Extra Black Condensed_0.woff2") format("woff2"), url("./../assets/fonts/Helvetica LT 107 Extra Black Condensed_0.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueLT-ExtBlackCond';
  src: url("./../assets/fonts/HelveticaNeueLT-ExtBlackCond.woff") format("woff"), url("./../assets/fonts/HelveticaNeueLT-ExtBlackCond.ttf") format("truetype"), url("./../assets/fonts/HelveticaNeueLT-ExtBlackCond.svg#HelveticaNeueLT-ExtBlackCond") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LT 107 Extra Black Condensed Oblique_0';
  src: url("./../assets/fonts/Helvetica LT 107 Extra Black Condensed Oblique_0.eot");
  src: url("./../assets/fonts/Helvetica LT 107 Extra Black Condensed Oblique_0.woff2") format("woff2"), url("./../assets/fonts/Helvetica LT 107 Extra Black Condensed Oblique_0.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueLT-ExtBlackCondObl';
  src: url("./../assets/fonts/HelveticaNeueLT-ExtBlackCondObl.woff") format("woff"), url("./../assets/fonts/HelveticaNeueLT-ExtBlackCondObl.ttf") format("truetype"), url("./../assets/fonts/HelveticaNeueLT-ExtBlackCondObl.svg#HelveticaNeueLT-ExtBlackCondObl") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  background-color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  background-image: url("./../assets/images/kiosk_bk_Image.png");
  background-repeat: no-repeat;
  background-size: cover; }

body {
  overflow: hidden;
  color: #2b2b2b;
  font-size: 16px; }

header {
  background-color: #fff;
  position: absolute;
  background-image: url("./../assets/images/Kiosk_RyderLogo.png");
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 256px 60px;
  height: 96px;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 9999; }

footer {
  bottom: 40px;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: .9em; }

#modal {
  display: block;
  height: 1920px;
  width: 1080px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none; }

.uPopup {
  text-align: center;
  max-width: 90%;
  position: relative;
  margin: 0 auto; }

#menuBtn {
  width: 68px;
  height: 56px;
  display: block;
  position: absolute;
  top: 18px;
  right: 10px;
  background-repeat: no-repeat;
  background-size: 34px 28px;
  background-position: center;
  transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -webkit-transition: background-image 0.2s ease-in-out; }

#menuBtn {
  z-index: 99999;
  background-image: url("./../assets/images/hamburger_UP.png"); }
  #menuBtn:hover, #menuBtn:active {
    background-image: url("./../assets/images/hamburger_DN.png"); }
  #menuBtn.on {
    background-image: url("./../assets/images/hamburger_UP.png"); }
    #menuBtn.on:hover, #menuBtn.on:active {
      background-image: url("./../assets/images/hamburger_DN.png"); }

#menu {
  display: none;
  position: absolute;
  right: 0px;
  top: 13px;
  background-color: #2b2b2b;
  width: calc(314px - 30px);
  max-height: 496px;
  padding: 15px;
  color: #555; }
  #menu > ul {
    overflow-y: scroll;
    max-height: 376px; }
  #menu a {
    width: 100%;
    display: block;
    padding: 10px 0; }
  #menu a:link {
    color: #fff;
    text-decoration: none; }
  #menu a:visited {
    color: #fff;
    text-decoration: none; }
  #menu a:hover {
    color: #ce1126;
    text-decoration: none; }
  #menu a:active {
    color: #ce1126;
    text-decoration: none; }
  #menu h3 {
    border-bottom: 1px dotted #555;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 65px;
    margin-bottom: 10px;
    font-family: 'HelveticaNeue LT 107 XBlkCn', "Comic Sans MS", cursive; }
    #menu h3 span {
      padding-left: 46px; }
  #menu .list-title {
    color: #555;
    text-transform: uppercase; }
  #menu li {
    padding: 1px 0 1px 45px; }
  #menu li.sublist-item {
    padding-left: 63px; }

#welcome {
  background-image: url("./../assets/images/welcome_text.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 416px;
  height: 111px;
  position: absolute;
  top: 300px;
  left: 50px; }

#callToAction {
  width: 210px;
  height: 100px;
  display: block;
  pointer-events: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background-position: 7px 9px;
  background-size: contain;
  background-repeat: no-repeat;
  color: #696969;
  text-align: right;
  font-family: 'HelveticaNeue LT 67 MdCn'; }
  #callToAction #callToAction_Arrow {
    background-repeat: no-repeat;
    background-size: contain;
    width: 37px;
    height: 37px;
    display: block;
    font-size: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    -webkit-animation: flickerAnimation 0.6s ease-in-out infinite;
    -moz-animation: flickerAnimation 0.6s ease-in-out infinite;
    animation: flickerAnimation 0.6s ease-in-out infinite; }
@keyframes flickerAnimation {
  0% {
    transform: translateY(0px);
    opacity: .3; }
  70% {
    transform: translateY(2px);
    opacity: 1; }
  100% {
    transform: translateY(0px);
    opacity: .3; } }
  #callToAction #callToAction_Text {
    display: block;
    width: 202px;
    height: 53px;
    font-size: 30px;
    left: 5px;
    bottom: 0;
    position: absolute; }

#media-video {
  width: 100%;
  position: relative;
  background-color: #555; }

#media-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  display: table;
  width: 100%;
  height: 97px;
  background: rgba(0, 0, 0, 0.4);
  /*
  progress { color: $red;}
  progress::-webkit-progress-value {background: $red; }
  progress::-moz-progress-bar { background: $red; }
  progress::-webkit-progress-value { background: $red; }
  progress::-webkit-progress-bar { background: $red; }
  */ }
  #media-controls > div {
    position: relative;
    display: table-cell;
    vertical-align: middle; }
    #media-controls > div div {
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto; }
  #media-controls .uVolumeInc:before {
    content: "";
    height: 73px;
    width: 2px;
    background: #fff;
    display: block;
    position: absolute;
    top: calc(50% - 35px); }
  #media-controls #play-pause-button {
    transition: background-image 0.2s ease-in-out;
    -moz-transition: background-image 0.2s ease-in-out;
    -webkit-transition: background-image 0.2s ease-in-out;
    height: 28px;
    width: 33px; }
    #media-controls #play-pause-button.play {
      background-image: url("./../assets/images//kiosk_play_btn_up.png"); }
      #media-controls #play-pause-button.play:hover, #media-controls #play-pause-button.play:active {
        background-image: url("./../assets/images//kiosk_play_btn_RL-DN.png"); }
    #media-controls #play-pause-button.pause {
      background-image: url("./../assets/images//kiosk_Pause_Btn_UP.png"); }
      #media-controls #play-pause-button.pause:hover, #media-controls #play-pause-button.pause:active {
        background-image: url("./../assets/images//kiosk_Pause_Btn_RL-DN.png"); }
  #media-controls .uProgressBar {
    width: 832px;
    padding: 0 4em; }
  #media-controls #progress-bar {
    height: 5px;
    position: relative;
    top: -5px;
    background: #fff;
    width: 100%; }
  #media-controls #volume-inc-button {
    height: 26px;
    width: 26px;
    transition: background-image 0.2s ease-in-out;
    -moz-transition: background-image 0.2s ease-in-out;
    -webkit-transition: background-image 0.2s ease-in-out;
    background-image: url("./../assets/images//kiosk_Plus_btn_UP.png"); }
    #media-controls #volume-inc-button:hover, #media-controls #volume-inc-button:active {
      background-image: url("./../assets/images//kiosk_Plus_btn_RL-DN.png"); }
  #media-controls #volume-dec-button {
    height: 26px;
    width: 26px;
    transition: background-image 0.2s ease-in-out;
    -moz-transition: background-image 0.2s ease-in-out;
    -webkit-transition: background-image 0.2s ease-in-out;
    background-image: url("./../assets/images//kiosk_Minus_btn_UP.png"); }
    #media-controls #volume-dec-button:hover, #media-controls #volume-dec-button:active {
      background-image: url("./../assets/images//kiosk_Minus_btn_RL-DN.png"); }
  #media-controls #volume-mute-button {
    transition: background-image 0.2s ease-in-out;
    -moz-transition: background-image 0.2s ease-in-out;
    -webkit-transition: background-image 0.2s ease-in-out;
    height: 39px;
    width: 45px;
    background-image: url("./../assets/images//Kiosk_Volume_Icon.png"); }

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
  width: 250px;
  height: 3px; }

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #555, #fff);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%; }

progress[value]::-webkit-progress-value::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  right: 7px;
  top: 7px;
  background-color: white; }

/*
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
*/
@media only screen and (max-width: 767px) {
  footer {
    display: none; }

  header {
    height: 80px;
    background-size: 136px 30px; }

  #welcome {
    top: 50%;
    height: 111px;
    margin-top: -55px; }

  #menuBtn {
    top: 10px; }

  #menu > ul {
    max-height: 220px; } }
@media (orientation: portrait) {
  body {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); } }

/*# sourceMappingURL=style.css.map */
