/* 1.) Import Files */
/*
@font-face {
    font-family: "Gill Light";
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Gill Sans MT Light.ttf');
}

@font-face {
    font-family: "Gill Regular";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Gill Sans MT Regular.ttf');
}

*/
/*//
// Variables
// --------------------------------------------------*/
/* example
$gray-base: rgb(0,0,0);                    
$base-color: rgb(2,45,88);
$light-color: rgb(255,255,255);               
$dark-color: rgb(78, 54, 46);           
$font-size: 20px;

$darkest: #000;
$whitest: #FFF;

$primary-color: #022d58;
$secondary-color: #eae8e0;
$tertiary-color: #4e362e;

$primary-font: 'Gill Regular';
$secondary-font: 'Gill Light';
*/
/*//
// All mixin functions
// --------------------------------------------------*/
/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  overflow: hidden; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  display: inline-block; }

*,
:before,
:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

body {
  width: 1920px;
  height: 1080px; }

header {
  width: 100%;
  height: 120px;
  background: url("../images/Kiosk_HeaderRyderLogo.png") no-repeat center top; }

footer {
  width: 100%;
  height: 120px;
  padding: 10px;
  border: 1px solid blue; }

footer .uRss .uTitle1, footer .uRss .uTitle2 {
  width: 200px;
  display: inline-block; }

footer .uRss .uContent1, footer .uRss .uContent2 {
  border-left: 1px solid blue;
  width: 300px;
  display: inline-block; }

footer .uRss[l10n-locale='fr-ca'] .uTitle1 {
  width: 400px; }

footer .uRss[l10n-locale='fr-ca'] .uTitle2 {
  display: none; }

footer .uRss[l10n-locale='fr-ca'] .uContent1, footer .uRss[l10n-locale='fr-ca'] .uContent2 {
  width: 500px; }

footer .uErr {
  display: none; }
  footer .uErr img {
    width: 72px;
    height: 62px; }

main {
  width: 100%;
  height: 840px;
  background: url("../images/kiosk_bk_Image.png") no-repeat center top;
  padding-top: 60px;
  border: solid 1px red; }
  main .uSectionsWrap {
    width: 1702px;
    height: 720px;
    margin: auto;
    position: relative; }
    main .uSectionsWrap section {
      height: 100%;
      border: solid 1px blue; }

main .uAttractLoopSec video {
  width: 1280px;
  height: 100%; }

main .uAttractLoopSec div {
  float: right; }

main .uVideoListSec {
  display: none;
  padding: 20px; }
  main .uVideoListSec .uVideoListDiv {
    height: 580px;
    overflow-y: scroll;
    border: 1px solid green; }
    main .uVideoListSec .uVideoListDiv .uCategory {
      border-bottom: 1px dotted grey; }
  main .uVideoListSec .uBtnDiv {
    height: 100px;
    border: 1px solid green;
    text-align: right;
    position: relative; }
    main .uVideoListSec .uBtnDiv .uEmailBtn, main .uVideoListSec .uBtnDiv .uToggleBtn {
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
    main .uVideoListSec .uBtnDiv .uEmailBtn[l10n-locale='en-us'], main .uVideoListSec .uBtnDiv .uEmailBtn[l10n-locale='en-ca'] {
      width: 109px;
      height: 40px;
      background-image: url("../images/kiosk_Email_Bth_UP.png"); }
      main .uVideoListSec .uBtnDiv .uEmailBtn[l10n-locale='en-us'][selected], main .uVideoListSec .uBtnDiv .uEmailBtn[l10n-locale='en-ca'][selected] {
        background-image: url("../images/kiosk_Email_Bth_RL-DN.png"); }
    main .uVideoListSec .uBtnDiv .uEmailBtn[l10n-locale='fr-ca'] {
      width: 127px;
      height: 40px;
      background-image: url("../images/kiosk_French_Email_Bth_UP.png"); }
      main .uVideoListSec .uBtnDiv .uEmailBtn[l10n-locale='fr-ca'][selected] {
        background-image: url("../images/kiosk_French_Email_Bth_RL-DN.png"); }
    main .uVideoListSec .uBtnDiv .uToggleBtn {
      width: 110px;
      height: 38px; }
      main .uVideoListSec .uBtnDiv .uToggleBtn[l10n-locale='en-us'] {
        background-image: url("../images/kiosk_Spanish_Btn_UP.png"); }
        main .uVideoListSec .uBtnDiv .uToggleBtn[l10n-locale='en-us'][selected] {
          background-image: url("../images/kiosk_Spanish_Btn_RL-DN.png"); }
      main .uVideoListSec .uBtnDiv .uToggleBtn[l10n-locale='en-ca'] {
        background-image: url("../images/kiosk_French_Btn_UP.png"); }
        main .uVideoListSec .uBtnDiv .uToggleBtn[l10n-locale='en-ca'][selected] {
          background-image: url("../images/kiosk_French_Btn_RL-DN.png"); }
      main .uVideoListSec .uBtnDiv .uToggleBtn[l10n-locale='fr-ca'] {
        background-image: url("../images/kiosk_English_Btn_UP.png"); }
        main .uVideoListSec .uBtnDiv .uToggleBtn[l10n-locale='fr-ca'][selected] {
          background-image: url("../images/kiosk_English_Btn_RL-DN.png"); }
    main .uVideoListSec .uBtnDiv .uPointerBtn {
      display: block;
      position: absolute;
      left: 840px;
      top: 0px;
      width: 109px;
      height: 121px; }
      main .uVideoListSec .uBtnDiv .uPointerBtn[l10n-locale='en-us'], main .uVideoListSec .uBtnDiv .uPointerBtn[l10n-locale='en-ca'] {
        background-image: url("../images/kiosk_Swipe_icon.png"); }
      main .uVideoListSec .uBtnDiv .uPointerBtn[l10n-locale='fr-ca'] {
        background-image: url("../images/kiosk_FrenchSwipe_icon.png"); }

main .uVideoListSec .uVideoTile {
  display: block;
  width: 300px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  background-color: #333; }
  main .uVideoListSec .uVideoTile[selected] {
    border: 1px solid yellow; }
  main .uVideoListSec .uVideoTile .uThumb {
    width: 120px;
    height: 90px;
    border: 1px solid red;
    float: left; }
  main .uVideoListSec .uVideoTile .uBalloon {
    height: 30px;
    background: url("../images/kiosk_Language_Icon.png") right top no-repeat;
    background-size: 24px 23px;
    visibility: hidden; }

main .uVideoListSec.uAudioToggled .uVideoTile:not([data-video-2nd-src='']) .uBalloon {
  visibility: inherit; }

main .uLayerSec {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30); }

main .uKeyboardSec {
  margin-left: 540px;
  position: relative;
  top: -720px;
  background-color: #2b2b2b; }
  main .uKeyboardSec .uBackToVideoDiv {
    text-align: right; }
  main .uKeyboardSec .uKeyboardDiv {
    position: relative; }
    main .uKeyboardSec .uKeyboardDiv .uErrWrap, main .uKeyboardSec .uKeyboardDiv .uCoverWrap {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      top: 0px;
      display: none; }
    main .uKeyboardSec .uKeyboardDiv .uCoverWrap {
      background-color: #2b2b2b;
      opacity: 0.8; }

article.uVideoPopup {
  width: 960px;
  height: 720px;
  display: none; }
  article.uVideoPopup video {
    width: 100%;
    height: 100%; }

/* ryder keyboard - jQuery UI Widget */
.ui-keyboard {
  padding: .3em;
  border: 1px solid blue;
  text-align: center;
  /* see issue #484 */
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

.ui-keyboard div {
  text-align: right; }

.ui-keyboard-button {
  height: 65px;
  width: 65px;
  min-width: 2em;
  margin: .4em;
  cursor: pointer;
  overflow: hidden;
  line-height: 2em;
  background-color: #555555;
  color: #ffffff;
  -moz-user-focus: ignore;
  text-transform: uppercase;
  border: 0px; }
  .ui-keyboard-button span {
    font-size: large; }
  .ui-keyboard-button.ui-state-hover {
    background-color: #000000; }

.ui-keyboard-button.ui-keyboard-bksp span {
  font-size: small; }

.ui-keyboard-button.ui-keyboard-accept, .ui-keyboard-button.ui-keyboard-normal, .ui-keyboard-button.ui-keyboard-meta1, .ui-keyboard-button.ui-keyboard-meta2 {
  width: 100px; }

.ui-keyboard-button.ui-keyboard-accept.ui-keyboard-valid-input {
  background-color: #aaaaaa;
  color: #333333; }
  .ui-keyboard-button.ui-keyboard-accept.ui-keyboard-valid-input.ui-state-hover {
    background-color: #000000;
    color: #ffffff; }

.ui-keyboard-button.ui-keyboard-accept.ui-keyboard-invalid-input {
  background-color: #aaaaaa;
  color: #333333;
  opacity: 0.5;
  filter: alpha(opacity=50); }
  .ui-keyboard-button.ui-keyboard-accept.ui-keyboard-invalid-input.ui-state-hover {
    background-color: #aaaaaa;
    color: #333333;
    opacity: 0.5;
    filter: alpha(opacity=50); }

.ui-keyboard-button.ui-keyboard-space {
  width: 560px; }
