/*
@font-face {
    font-family: "Gill Light";
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Gill Sans MT Light.ttf');
}

@font-face {
    font-family: "Gill Regular";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Gill Sans MT Regular.ttf');
}

*/

