
/*//
// All mixin functions
// --------------------------------------------------*/


@mixin fade($prop){
  transition: 	$prop $time ease-in-out;
  -moz-transition: 	$prop $time ease-in-out;
  -webkit-transition: $prop $time ease-in-out;
}

//font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;
.fontTime {
  font: 42px 'HelveticaNeue LT 107 XBlkCn','comic sans';
}
.fontDatt {
  font: 24pt 'HelveticaNeue LT 45 Light','comic sans';
}
.fontWeclome {
  font: 30pt 'HelveticaNeue LT 67 MdCn','comic sans';
}
