// 0.) page ======================================================================
body {
    width: 1920px;
    height: 1080px;
}



// 1.) header ======================================================================
header {
    width: 100%;
    height: 120px;
    background: url('../images/Kiosk_HeaderRyderLogo.png') no-repeat center top;
}



// 2.) footer ======================================================================
footer {
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 1px solid blue;
}

footer .uRss {
    .uTitle1, .uTitle2 {
        width: 200px;
        display: inline-block;
    }

    .uContent1, .uContent2 {
        border-left: 1px solid blue;
        width: 300px;
        display: inline-block;
    }

    &[l10n-locale='fr-ca'] {
        .uTitle1 {
            width: 400px;
        }
        .uTitle2 {
            display: none;
        }
        .uContent1, .uContent2 {
            width: 500px;
        }
    }
}

footer .uErr {
    display: none;
    img {
        width: 72px;
        height: 62px;
    }
}



// 3.) main ======================================================================
main {
    width: 100%;
    height: 840px;
    background: url('../images/kiosk_bk_Image.png') no-repeat center top;
    padding-top: 60px;
    border: solid 1px red;

    .uSectionsWrap {
        width: 1702px;
        height: 720px;
        margin: auto;
        position: relative;

        section {
            height: 100%;
            border: solid 1px blue;
        }
    }
}



// 4.) attract section =================================================================
main .uAttractLoopSec video {
    width: 1280px;
    height: 100%;
}

main .uAttractLoopSec div {
    float: right;
}



// 5.) video list section ==============================================================
main .uVideoListSec {
    display: none;
    padding: 20px;

    .uVideoListDiv {
        height: 580px;
        overflow-y: scroll;
        border: 1px solid green;

        .uCategory {
            border-bottom: 1px dotted grey;
        }
    }

    .uBtnDiv {
        height: 100px;
        border: 1px solid green;
        text-align: right;
        position: relative;

        .uEmailBtn, .uToggleBtn {
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .uEmailBtn {
            &[l10n-locale='en-us'], &[l10n-locale='en-ca'] {
                width: 109px;
                height: 40px;
                background-image: url('../images/kiosk_Email_Bth_UP.png');
                &[selected] {
                    background-image: url('../images/kiosk_Email_Bth_RL-DN.png');
                }
            }

            &[l10n-locale='fr-ca'] {
                width: 127px;
                height: 40px;
                background-image: url('../images/kiosk_French_Email_Bth_UP.png');
                &[selected] {
                    background-image: url('../images/kiosk_French_Email_Bth_RL-DN.png');
                }
            }
        }

        .uToggleBtn {
            width: 110px;
            height: 38px;

            &[l10n-locale='en-us'] {
                background-image: url('../images/kiosk_Spanish_Btn_UP.png');
                &[selected] {
                    background-image: url('../images/kiosk_Spanish_Btn_RL-DN.png');
                }
            }

            &[l10n-locale='en-ca'] {
                background-image: url('../images/kiosk_French_Btn_UP.png');
                &[selected] {
                    background-image: url('../images/kiosk_French_Btn_RL-DN.png');
                }
            }

            &[l10n-locale='fr-ca'] {
                background-image: url('../images/kiosk_English_Btn_UP.png');
                &[selected] {
                    background-image: url('../images/kiosk_English_Btn_RL-DN.png');
                }
            }
        }

        .uPointerBtn {
            display: block;
            position: absolute;
            left: 840px;
            top: 0px;
            width: 109px;
            height: 121px;

            &[l10n-locale='en-us'], &[l10n-locale='en-ca'] {
                background-image: url('../images/kiosk_Swipe_icon.png');
            }

            &[l10n-locale='fr-ca'] {
                background-image: url('../images/kiosk_FrenchSwipe_icon.png');
            }
        }

    }

}



// 6.) video tile ======================================================================
main .uVideoListSec .uVideoTile {
    display: block;
    width: 300px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background-color: #333;

    &[selected] {
        border: 1px solid yellow;
    }

    .uThumb {
        width: 120px;
        height: 90px;
        border: 1px solid red;
        float: left;
    }

    .uBalloon {
        height: 30px;
        background: url('../images/kiosk_Language_Icon.png') right top no-repeat;
        background-size: 24px 23px;
        visibility: hidden;
    }
}

main .uVideoListSec.uAudioToggled .uVideoTile:not([data-video-2nd-src='']) .uBalloon {
    visibility: inherit;
}



// 7.) cover section ======================================================================
main .uLayerSec {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}


// 8.) keyboard section ======================================================================
main .uKeyboardSec {
    margin-left: 540px;
    position: relative;
    top: -720px;
    background-color: #2b2b2b;

    .uBackToVideoDiv {
        text-align: right;
    }

    .uKeyboardDiv {
        position: relative;

        .uErrWrap, .uCoverWrap {
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            display: none;
        }

        .uCoverWrap {
            background-color: #2b2b2b;
            opacity: 0.8;
        }
    }
}


// 9.) video player ======================================================================
article.uVideoPopup {
    width: 960px;
    height: 720px;
    display: none;

    video {
        width: 100%;
        height: 100%;
    }
}



// 10.) popups ======================================================================


