// 0.) page ======================================================================
body {
    width: 1920px;
    height: 1080px;
    font-size: 16px;
    font-family: $textBase;
    background-color: $darkGrey;
    color: $midGrey;
}

// 1.) header ======================================================================
header {
    width: 100%;
    height: 120px;
    background: url('../images/Kiosk_HeaderRyderLogo.png') no-repeat center top;

    .uTime {
      position: absolute;
      right: 20px;
      top: 20px;
      text-align: right;
      font-size: 24px;
      font-weight: normal;
      color: $black;
      //font-family: 'HelveticaNeue LT 47 LightCn';
      font-family: 'HelveticaNeue LT 45';

      div:first-child {
        font-size: 42px;
        font-weight: normal;
        font-family: 'Helvetica LT 107 Extra Black Condensed_0';
      }

    }

}



// 2.) footer ======================================================================
footer {
    width: 100%;
    height: 120px;
    padding: 10px;
}

footer .uRss {
    .uTitle1, .uTitle2 {
        width: 200px;
        color: $midGrey;
        display: inline-block;
        font-size: 40px;
        font-family: 'Helvetica LT 107 Extra Black Condensed Oblique_0';//_0
        //font-family: "HelveticalNeue LT 107 XBlkCn";
        font-weight: bold;
        font-style: oblique;
        text-align: right;
    }

    .uContent1, .uContent2 {
        border-left: 1px solid $red;
        width: 700px;
        padding-left: 30px;
        display: inline-block;
        color: $lightGrey;
    }

    &[l10n-locale='fr-ca'] {
        .uTitle1 {
            width: 400px;
        }
        .uTitle2 {
            display: none;
        }
        .uContent1, .uContent2 {
            width: 500px;
        }
    }
}

footer .uErr {
    display: none;
    img {
        width: 72px;
        height: 62px;
    }
}



// 3.) main ======================================================================
main {
    width: 100%;
    height: 840px;
    background: url('../images/kiosk_bk_Image.png') no-repeat center top;
    padding-top: 60px;
    //border: solid 1px red;

    .uSectionsWrap {
      background-color: $darkGrey;
        width: 1702px;
        height: 720px;
        margin: auto;
        position: relative;
        color: $white;

        section {
            height: 100%;
            display: none;
        }

        h3{
          border-bottom: 1px dotted $midGrey;
          //border-top: 3px solid $midGrey;
          padding-top: 30px;
          padding-bottom: 5px;
          margin-bottom: 10px;
          color: $midGrey;
          font-size: 2.4em;
        }
    }
}



// 4.) attract section =================================================================
main .uAttractLoopSec {
    display: block;
    position: relative;

    video {
        width: 1280px;
        height: 100%;
    }

    div {
        //float: right;
    }

    .uWelcome{
      background-color: $darkGrey;
      position: absolute;
      top: 0;
      right: 0;
      width: 422px;
      height: calc(100% - 96px);
      display: table;
      div{
        display: table-cell;
        vertical-align: middle;
        font-family: 'HelveticaNeueLT-LightCond';
        border-top: 1px solid $darkGrey;
        border-bottom: 1px solid $darkGrey;
        font-size: 1.8em;
        padding:20px;
        margin: 0 auto;
        width: 80%;
      }
    }

    .uStart{
      font-family: "Helvetica LT 107 Extra Black Condensed Oblique_0";
      font-size: 40px;
      background: $red;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 422px;
      height: 96px;
      color: $white;
      text-align: left;
      padding-left: 20px;
      line-height: 100px;

      @include fade(background);
      &:hover, &:active {
        background: $black;
      }
    }
}



// 5.) video list section ==============================================================
main .uVideoListSec {
    display: none;
    padding: 20px;

    .uVideoListDiv {
        height: 580px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        border: 3px solid $midGrey;
        border-left: none;
        border-right: none;

        .uCategory {
            border-bottom: 1px dotted grey;
        }
    }

    .uBtnDiv {
        height: 100px;
        text-align: right;
        position: relative;

        .uEmailBtn, .uToggleBtn {
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .uEmailBtn {
            &[l10n-locale='en-us'], &[l10n-locale='en-ca'] {
                width: 109px;
                height: 40px;
                @include fade(background-image);
                background-image: url('../images/kiosk_Email_Bth_UP.png');
                &[selected] {
                    background-image: url('../images/kiosk_Email_Bth_RL-DN.png');
                }
            }

            &[l10n-locale='fr-ca'] {
                width: 127px;
                height: 40px;
                @include fade(background-image);
                background-image: url('../images/kiosk_French_Email_Bth_UP.png');
                &[selected] {
                    background-image: url('../images/kiosk_French_Email_Bth_RL-DN.png');
                }
            }
        }

        .uToggleBtn {
            width: 110px;
            height: 38px;

            &[l10n-locale='en-us'] {
                @include fade(background-image);
                background-image: url('../images/kiosk_Spanish_Btn_UP.png');
                &[selected] {
                    background-image: url('../images/kiosk_Spanish_Btn_RL-DN.png');
                }
            }

            &[l10n-locale='en-ca'] {
                @include fade(background-image);
                background-image: url('../images/kiosk_French_Btn_UP.png');
                &[selected] {
                    background-image: url('../images/kiosk_French_Btn_RL-DN.png');
                }
            }

            &[l10n-locale='fr-ca'] {
                @include fade(background-image);
                background-image: url('../images/kiosk_English_Btn_UP.png');
                &[selected] {
                    background-image: url('../images/kiosk_English_Btn_RL-DN.png');
                }
            }
        }

        .uPointerBtn {
            display: block;
            opacity: 0;
            position: absolute;
            left: 840px;
            top: 0px;
            width: 109px;
            height: 121px;
            animation-name: handmove;
            animation-duration: 1s;
            animation-iteration-count: 4;
            user-select: none;

            &[l10n-locale='en-us'], &[l10n-locale='en-ca'] {
                background-image: url('../images/kiosk_Swipe_icon.png');
            }

            &[l10n-locale='fr-ca'] {
                background-image: url('../images/kiosk_FrenchSwipe_icon.png');
            }

            @keyframes handmove {
              0%   { transform: translateY(0px); opacity: 0;}
              5%   { transform: translateY(0px); opacity: .3;}
          		80%  { transform: translateY(20px); opacity: 1; }
              94%  { transform: translateY(0px); opacity: .3; }
          		100% { transform: translateY(0px); opacity: 0;}
            }
        }

    }

}



// 6.) video tile ======================================================================
main .uVideoListSec .uVideoTile {
    display: inline-block;
    width: 300px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    background-color: #333;

    transition: 	border $time ease-in-out;
    -moz-transition: 	border $time ease-in-out;
    -webkit-transition: border $time ease-in-out;

    &[selected] {
        border: 1px solid $yellow;
    }

    .uThumb {
        width: 120px;
        height: 90px;
        box-shadow: 0px 0px 5px $darkGrey;
        float: left;
        margin-right: 10px;
    }

    .uBalloon {
        height: 30px;
        background: url('../images/kiosk_Language_Icon.png') right top no-repeat;
        background-size: 24px 23px;
        visibility: hidden;
    }
}

main .uVideoListSec.uAudioToggled .uVideoTile:not([data-video-2nd-src='']) .uBalloon {
    visibility: inherit;
}



// 7.) cover section ======================================================================
main .uLayerSec {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}


// 8.) keyboard section ======================================================================
main .uKeyboardSec {
    margin-left: 540px;
    position: relative;
    top: -720px;
    background-color: #2b2b2b;

    .uBackToVideoDiv {
        text-align: right;
    }

    .uBackBtn {
      //font-family:
      border-left: 1px solid;
      padding-left:30px;
    }

    .uKeyboardDiv {
        position: relative;

        .uErrWrap, .uCoverWrap {
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            display: none;
        }

        .uCoverWrap {
            background-color: #2b2b2b;
            opacity: 0.8;
        }
    }
}


// 9.) video player ======================================================================
article.uVideoPopup {
    width: 960px;
    height: 720px;
    display: none;

    video {
        width: 100%;
        height: 100%;
    }
}



// 10.) popups ======================================================================
